body {
}
.wd {
            margin: 7px;
        }

        div {
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .rg {
            margin-left: 35%;
            margin-bottom: 5px;
        }