<?xml version="1.0"?>
<configuration>
  <system.webServer>
  </system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime />
	</system.web>
	<connectionStrings>
  <add name="conn" connectionString="Data Source=DESKTOP-IAUS6V2\SQLEXPRESS;Initial Catalog=tolltax;Integrated Security=True" />
  <add name="tolltaxConnectionString" connectionString="Data Source=DESKTOP-IAUS6V2\SQLEXPRESS;Initial Catalog=tolltax;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>